<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lllddd.fruitsserver.mapper.FruitsMapper">

    <resultMap id="Fruit" type="com.lllddd.fruitsserver.entity.FruitEntity">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="avatar" property="avatar" jdbcType="VARCHAR"/>
        <result column="detail" property="detail" jdbcType="VARCHAR"/>
        <result column="valid" property="valid" jdbcType="VARCHAR"/>
        <result column="price" property="price" jdbcType="FLOAT"/>
    </resultMap>

    <!-- 开启缓存 -->
    <cache
            eviction="FIFO"
            flushInterval="60000"
            size="512"
            readOnly="true"/>

    <insert id="add">
        INSERT INTO fruits (name, avatar, detail, price)
        VALUES (#{name,jdbcType=VARCHAR},
        #{avatar,jdbcType=VARCHAR},
        #{detail,jdbcType=VARCHAR},
        #{price,jdbcType=FLOAT})
    </insert>

    <delete id="delete">
        UPDATE fruits
        SET valid = 0
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>

    <update id="modify">
        UPDATE fruits
        SET price = #{price,jdbcType=FLOAT}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <select id="queryById" resultMap="Fruit">
        SELECT * FROM fruits WHERE id = #{id,jdbcType=INTEGER} AND valid = '1'
    </select>

    <select id="queryAll" resultMap="Fruit">
        SELECT * FROM fruits WHERE valid = '1'
    </select>
</mapper>